*{
	margin: 0;
	padding: 0;
}
form{
	width: 400px;
	height: 150px;
	font-size: 30px;
	background: #9fc;
	margin: 10px auto;
	padding: 20px;
}
input{
	width: 200px;
	height: 30px;
	color: #666;
}
.i1{
	width: 50px;
	font-size: 20px;
	display: block;
	margin: 20px auto;
}

